<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__icon"></span>
          <span class="logo__text">Tera-Flux</span>
      </a>
      <nav class="nav">
          <ul class="nav__list">
              <li><a href="./#hero" class="nav__link">Главная</a></li>
              <li><a href="./#about" class="nav__link">Экосистема</a></li>
              <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
              <li><a href="./#innovations" class="nav__link">Инновации</a></li>
              <li><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
      </nav>
      <a href="./#contact" class="btn btn--header">Начать</a>
      <button class="burger" aria-label="Menu">
          <span></span>
      </button>
  </div>
</header>
<div class="mobile-menu">
  <div class="mobile-menu__inner">
      <ul class="mobile-menu__list">
          <li><a href="./#hero">Главная</a></li>
          <li><a href="./#about">Экосистема</a></li>
          <li><a href="./#benefits">Преимущества</a></li>
          <li><a href="./#blog">Блог</a></li>
          <li><a href="./#contact">Контакты</a></li>
      </ul>
      <div class="mobile-menu__footer">
          <a href="tel:+493075614432" class="footer__link">+49 30 75614432</a>
      </div>
  </div>
</div>